{% extends 'base_template.html' %}

{% load account socialaccount %}

{% block title %}
Zaloguj się - RunningGenerator
{% endblock title %}

{% block body_data %}
<div class="page-hero d-flex align-items-center justify-content-center">
  <h1>Zaloguj się</h1>
</div>


  {% get_providers as socialaccount_providers %}

  <!-- If we have available providers -->
  {% if socialaccount_providers %}
    <div class="page-hero d-flex align-items-center justify-content-center">
      <p>Użyj swojego konta z poniższej listy aplikacji lub <a href="{{ signup_url }}">załóż konto</a>
      i zaloguj się za pomocą formularza</p>
    </div>

    <!-- List of available providers -->
    <div class="page-hero d-flex align-items-center justify-content-center">
      <div class="socialaccount_ballot">
        <ul class="socialaccount_providers">
          {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        </ul>
      </div>
    </div>

  <!-- If no providers -->
  {% else %}
    <div class="page-hero d-flex align-items-center justify-content-center">
      <a href="{{ signup_url }}">załóż konto</a>
      i zaloguj się za pomocą formularza</p>
    </div>
  {% endif %}

</div>

<!-- Login form -->
<div class="page-hero d-flex align-items-center justify-content-center">
  <form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    <!--as_p - will render them wrapped in <p> tags-->
    {{ form.as_p }}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">Zapomniałeś hasła?</a>
    <button class="btn btn-secondary" type="submit">Zaloguj się</button>
  </form>
</div>

{% endblock body_data %}
