{% extends 'base_template.html' %}

{% block title %}
Wyloguj się - RunningGenerator
{% endblock title %}

{% block body_data %}
<div class="page-hero d-flex align-items-center justify-content-center">
  <h1>Wyloguj się</h1>
</div>
<div class="page-hero d-flex align-items-center justify-content-center">
  <h3>Czy jesteś pewien że chcesz się wylogować?</h3>
</div>
<div class="page-hero d-flex align-items-center justify-content-center">
  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button class="btn btn-secondary" type="submit">Wyloguj się</button>
  </form>
</div>

{% endblock body_data %}

