{% extends 'base_template.html' %}

{% load account %}

{% block title %}
Password Reset - Running Training Comrade
{% endblock title %}

{% block body_data %}
<div class="page-hero d-flex align-items-center justify-content-center">
    <h1>Password Reset</h1>
</div>

<div class="page-hero d-flex align-items-center justify-content-center">
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
</div>

<div class="page-hero d-flex align-items-center justify-content-center">
    <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>
</div>

<div class="page-hero d-flex align-items-center justify-content-center">
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Reset My Password" />
    </form>
</div>

<div class="page-hero d-flex align-items-center justify-content-center">
    <p>Please contact us if you have any trouble resetting your password.</p>
</div>
{% endblock body_data %}
