{% extends 'base_template.html' %}

{% block title %}
Change Password - Running Training Comrade
{% endblock title %}

{% block body_data %}
<div class="page-hero d-flex align-items-center justify-content-center">
    <h1>Change Password</h1>
</div>

<div class="page-hero d-flex align-items-center justify-content-center">
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action">Change Password</button>
        <a href="{% url 'account_reset_password' %}">Forgot Password?</a>
    </form>
</div>
{% endblock body_data %}
