{% extends 'base_template.html' %}

{% block title %}
Profile - Running Training Comrade
{% endblock title %}

{% block body_data %}
<div class="page-hero d-flex align-items-center justify-content-center">
  <h1>Profile information</h1>
</div>

<div class="page-hero d-flex align-items-center justify-content-center">
  <h1>Username: {{user.username}}</h1>
</div>

<div class="page-hero d-flex align-items-center justify-content-center">
  <a href="{% url 'socialaccount_connections' %}">Social Account Connections</a>
</div>

<div class="page-hero d-flex align-items-center justify-content-center">
  {% if auth_exception %}
    <h1>{{ auth_exception }}</h1>
  {% endif %}
  {% if http_exception %}
      <h1>{{ http_exception }}</h1>
  {% endif %}

</div>

{% endblock body_data%}
