{% extends 'base_template.html' %}

{% block title %}
Załóż konto - RunningGenerator
{% endblock title %}

{% block body_data %}
<div class="page-hero d-flex align-items-center justify-content-center">
  <h1>Załóż konto</h1>
</div>
<div class="page-hero d-flex align-items-center justify-content-center">
  <p>Już posiadasz konto? Zaloguj się <a href="{{ login_url }}">tutaj</a>.</p>
</div>

<!-- Sign Up form -->
<div class="page-hero d-flex align-items-center justify-content-center">
  <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    <!--as_p - will render them wrapped in <p> tags-->
    {{ form.as_p }}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
  <button class="btn btn-secondary" type="submit">Załóż konto &raquo;</button>
</form>
</div>

{% endblock body_data %}