{% extends 'base_template.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Wygeneruj swój trening - RunningGenerator
{% endblock title %}

{% block body_data %}
<div class="page-hero d-flex align-items-center justify-content-center">
    <h1>Wygeneruj swój trening</h1>
</div>

<div class="page-hero d-flex align-items-center justify-content-center">
    <form action="/training/generator/" method="post" id="generatorForm">
        {% csrf_token %}
        {{ generate_training_form|crispy }}
        <input type="submit" class="btn btn-secondary" value="Generuj propozycje treningu" id="generateTraining">
        <!-- Hidden spinner -->
        <div class="spinner-border text-secondary" id="generateTrainingSpinner" style="display: none;"></div>
    </form>
</div>

<!-- Success msg -->
<div class="page-hero d-flex align-items-center justify-content-center">
    <div class="alert alert-success alert-dismissible" id="generateTrainingSuccess" style="display: none;">
        <button type="button" class="close">&times;</button>
        <strong>Udało się!</strong>
        Wygenerowane propozycje są dostępne tutaj
        <a href="{% url 'generate training result' %}">URL</a>
    </div>
</div>

<!-- Exception msg -->
<div class="page-hero d-flex align-items-center justify-content-center">
    <div class="alert alert-danger alert-dismissible" id="generateTrainingError" style="display: none;">
        <button type="button" class="close">&times;</button>
        <strong>Error!</strong>
        Wystąpił problem podczas generowania propozycji
    </div>
</div>
{% endblock body_data %}

{% block custom_js %}
    <script type="text/javascript" src="{% static 'admin/generate_training.js' %}"></script>
{% endblock custom_js %}
