{% load static %}

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'index' %}">
            Running Application
        </a>
    </div>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navdatadrop" data-toggle="dropdown">
                    All Data
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'all trainings' %}">All Trainings</a>
                    <a class="dropdown-item" href="{% url 'all running trainings' %}">All Running Trainings</a>
                    {% if not user.is_anonymous %}
                        <a class="dropdown-item" href="{% url 'all user trainings' %}">My Trainings</a>
                        <a class="dropdown-item" href="{% url 'all user running trainings' %}">My Running Trainings</a>
                    {% endif %}
                </div>
            </li>

            {% if user.is_staff %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navservicesdrop" data-toggle="dropdown">
                    Administration
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'admin parse responses' %}">Test</a>
                </div>
            </li>
            {% endif %}
        </ul>
    </div>

    <!--Auth Navbar Part-->
    <div>
        {% if user.is_authenticated %}
            <a href="{% url 'account_profile' %}">My Profile</a>
            <a href="{% url 'account_logout' %}" class="fas fa-sign-out-alt"></a>
        {% else %}
            <a href="{% url 'account_login' %}">Login</a>
            <a>or</a>
            <a href="{% url 'account_signup' %}">Sign Up</a>
        {% endif %}
    </div>
</nav>
