{% extends 'base_template.html' %}
{% load crispy_forms_tags %}

{% block title %}
Odpowiedź {{ form_response.id }} - RunningGenerator
{% endblock title %}

{% block body_data %}

<div class="page-hero d-flex align-items-center justify-content-center">
    <h1>Odpowiedź {{ form_response.id }}</h1>
</div>
<div class="page-hero d-flex align-items-center justify-content-center">
    <form action="" method="get" id="showResponseForm">
        {{ show_form_response|crispy }}
    </form>
</div>

{% endblock body_data %}
